:root {
  color-scheme: light dark;
  --bg-dot-size: 10%;
}

.dark {
  --bg-dot-color: rgba(255, 255, 255, 0.1) !important;
  --bg: radial-gradient(closest-side, var(--bg-dot-color) var(--bg-dot-size), transparent 0) black !important;
  --scrollbar-bg: rgba(255, 255, 255, 0.2);
}

.light {
  --bg-dot-color: rgba(0, 0, 0, 0.1) !important;
  --bg: radial-gradient(closest-side, var(--bg-dot-color) var(--bg-dot-size), transparent 0) white !important;
  --scrollbar-bg: rgba(0, 0, 0, 0.2);
}

body {
  margin: unset;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--bg);
  background-size: 20px 20px;
  overflow-x: hidden;
}

::selection {
  background: rgb(16 185 129 / 0.2);
}

@font-face {
  font-family: 'AllFont';
  src: url('https://file.qwq.link/font/PingFang.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'emoji-font';
  src: url('https://file.qwq.link/font/seguiemj.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*:not([class*='icon']):not(i) {
  font-family: 'AllFont' !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
  border-radius: 10px;
}
